<div class="wrapper">
  <div class="page-header page-header-xs" style="background-image: url('assets/img/header/header-bg.webp');">
      <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="row justify-content-md-center">
        <iframe class="registration-form"
                src="https://docs.google.com/forms/d/e/1FAIpQLSeP24GVKorslM9SgfJyJA7yubFq9tXpZzlFWamujKhtD8Xjvw/viewform?embedded=true"
                title="Formulario de inscripción">Cargando…</iframe>
      </div>
    </div>
  </div>
</div>
