<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/header/header-bg.jpg');">
      <div class="filter"></div>
  </div>
  <div class="section profile-content">
    
    <div class="container">
    
      <div class="row py-5">
        <div class="col-lg-9 mx-auto text-black text-center">
          <h1 class="display-4">Bases</h1>
          <p class="lead mb-0">{{edition}} Concurso homebrewer de Córdoba Noviembre – {{year}} (Historical &amp; Speciality beer)</p>
        </div>
      </div>
    
      <div class="row">
        <div class="col-lg-9 mx-auto">
          <!-- Accordion -->
          <app-accordion
            [rows]="rules">
          </app-accordion>
        </div>
      </div>
    </div>
  </div>
</div>