@using Microsoft.AspNetCore.Components.Authorization  
@inject NavigationManager Navigation  

<AuthorizeView>  
   <Authorized Context="authContext">  
       <div class="d-flex align-items-center">  
           <span class="me-3">Hello, @authContext.User.Identity?.Name!</span>  
           <a href="Account/Logout" class="btn btn-outline-primary btn-sm">Log out</a>  
       </div>  
   </Authorized>  
   <NotAuthorized>  
       <a href="Account/Login" class="btn btn-primary btn-sm">Log in</a>  
   </NotAuthorized>  
</AuthorizeView>