@using Microsoft.AspNetCore.Components.Authorization
@using BeerContest.Domain.Models
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Beer Contest</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rules">
                <span class="oi oi-book" aria-hidden="true"></span> Contest Rules
            </NavLink>
        </div>

        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="oi oi-person" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register-judge">
                        <span class="oi oi-beaker" aria-hidden="true"></span> Register as jugde
                    </NavLink>
                </div>
            </NotAuthorized>

            <Authorized>
                <AuthorizeView Roles="@($"{UserRole.Participant}")">
                    <Authorized Context="authContext">
                         <div class="nav-item px-3">
                            <NavLink class="nav-link" href="register-beer">
                                <span class="oi oi-plus" aria-hidden="true"></span> Register Beer
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="register-judge">
                                <span class="oi oi-beaker" aria-hidden="true"></span> Register as jugde
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="my-beers">
                                <span class="oi oi-beaker" aria-hidden="true"></span> My Beers
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>
               
                <AuthorizeView Roles="@($"{UserRole.Judge},{UserRole.Administrator}")">
                    <Authorized Context="authContext">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="judge-beers">
                                <span class="oi oi-star" aria-hidden="true"></span> Judge Beers
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>

                <!-- Using exact enum value names for roles -->
                <AuthorizeView Roles="@UserRole.Administrator.ToString()">
                    <Authorized Context="authContext">

                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="user-management">
                                <span class="oi oi-people" aria-hidden="true"></span> User Management
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="generate-labels">
                                <span class="oi oi-cog" aria-hidden="true"></span> Beer Labels
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="contest-management">
                                <span class="oi oi-list" aria-hidden="true"></span> Contest Management
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>
            </Authorized>
        </AuthorizeView>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
