<div class="wrapper">
  <div class="page-header page-header-xs" style="background-image: url('assets/img/header/header-bg.webp');">
      <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <h3 class="pt-4">Contáctanos</h3>

      <p class="pt-3">Si quiere participar como patrocinador en el {{edition}} Concurso Homebrewer de Córdoba no dude en ponerse
        en contacto con la organización a través del email <a href="mailto:homebrewercordoba@gmail.com">homebrewercordoba&#64;gmail.com</a>.
        Para cualquier duda del concurso estaremos encantados de responder a sus preguntas.
      </p>
    </div>
  </div>
</div>
