@page "/"
@using BeerContest.Domain.Models
@using MediatR
@inject IMediator Mediator

<PageTitle>Home - Beer Contest</PageTitle>

<div class="container">
    <div class="row mb-5">
        <div class="col-12">
            <div class="jumbotron bg-light p-5 rounded">
                <h1 class="display-4">Welcome to the Artisanal Beer Contest!</h1>
                <p class="lead">Showcase your brewing skills and compete with the best artisanal brewers.</p>
                <hr class="my-4">
                <p>Register your beers, participate in the contest, and get feedback from expert judges.</p>
                <a class="btn btn-primary btn-lg" href="contests" role="button">View Contests</a>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <h2>Active Contests</h2>
        </div>
    </div>

   
    <div class="row mt-5">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Register Your Beer</h5>
                    <p class="card-text">Submit your artisanal beer to participate in the contest.</p>
                    <a href="register-beer" class="btn btn-outline-primary">Register Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Contest Rules</h5>
                    <p class="card-text">Learn about the rules and guidelines for the beer contest.</p>
                    <a href="rules" class="btn btn-outline-primary">View Rules</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
