@page "/rules"
@using BeerContest.Domain.Models
@using Blazorise
@using MediatR
@inject IMediator Mediator

<PageTitle>Bases - Concurso Homebrewer</PageTitle>

<div class="container">
    <h1 class="mb-4">Bases</h1>

    <Accordion>
        @foreach (var rule in contestRules)
        {
            <AccordionItem Visible="@IsAccordionVisible(rule.Order)">
                <AccordionHeader>
                    <Heading Size="HeadingSize.Is5">
                        <AccordionToggle @onclick="() => ShowOnlyAccordion(rule.Order)">
                            @rule.Title
                        </AccordionToggle>
                    </Heading>
                </AccordionHeader>
                <AccordionBody>
                    @((MarkupString)rule.Description)
                </AccordionBody>
            </AccordionItem>
        }
    </Accordion>

</div>

@code {
    int visibleAccordionIndex = 1;
    private List<ContestRule> contestRules = ContestRules.GetDefaultContestRules();

    bool IsAccordionVisible(int index) => visibleAccordionIndex == index;

    void ShowOnlyAccordion(int index)
    {
        visibleAccordionIndex = visibleAccordionIndex == index ? 0 : index;
    }
}