<nav class="navbar navbar-expand-lg fixed-top" [class.navbar-transparent]="!scrolled">
    <a class="navbar-brand" routerLink="/">Concurso homebrewer Córdoba</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Abrir menú de navegación">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/rules" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">BASES</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/sponsors" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">PATROCINADORES</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/registration" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">INSCRIPCIÓN</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/organization" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">ORGANIZACIÓN</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/contact" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">CONTACTO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Síguenos en Instagram" href="https://www.instagram.com/the_real_cordobale/?hl=es" target="_blank" rel="noopener">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <p class="d-lg-none">Instagram</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Envíanos un email" href="mailto:homebrewercordoba@gmail.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <p class="d-lg-none">Email</p>
                </a>
            </li>
        </ul>
    </div>
</nav>
