@using Microsoft.AspNetCore.Components.Authorization  
@inject NavigationManager Navigation  

<AuthorizeView>
   <Authorized Context="authContext">
       <div class="user-menu">
           <div class="user-greeting">
               <i class="fa fa-user-circle me-2"></i>
               <span>Hello, @authContext.User.Identity?.Name!</span>
           </div>
           <div class="user-actions">
               <a href="Account/Profile" class="btn btn-beer-outline btn-sm me-2">
                   <i class="fa fa-user me-1"></i> Profile
               </a>
               <a href="Account/Logout" class="btn btn-beer-secondary btn-sm">
                   <i class="fa fa-sign-out-alt me-1"></i> Log out
               </a>
           </div>
       </div>
   </Authorized>
   <NotAuthorized>
       <div class="auth-actions">
           <a href="Account/Register" class="btn btn-beer-outline btn-sm me-2">
               <i class="fa fa-user-plus me-1"></i> Register
           </a>
           <a href="Account/Login" class="btn btn-beer-primary btn-sm">
               <i class="fa fa-sign-in-alt me-1"></i> Log in
           </a>
       </div>
   </NotAuthorized>
</AuthorizeView>
