<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/homepage/bg.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <!-- <div class="angular-logo">
                        <img src="assets/img/homepage/logoConcurso.png" alt="Concurso homebrewer Cordoba">
                    </div> -->
                    <h1 class="presentation-title">Concurso homebrewer Córdoba</h1>
                </div>

                <h2 class="presentation-subtitle text-center">17 Octubre, 2020 - Córdoba</h2>
                <div class="row justify-content-md-center pt-5">
                    <a href="#/registration" class="myButton center">Inscríbete</a>   
                </div>

                
            </div>
        </div>
    </div>
</div>