<footer class="site-footer">
    <div class="container">
        <div class="footer-groups">
            <section class="footer-group">
                <h3>Organiza</h3>
                <ul class="logo-grid">
                    <li>
                        <a href="https://www.facebook.com/TheRealCordobALE/" target="_blank" rel="noopener" title="The Real CordobALE">
                            <img loading="lazy" src="assets/img/footer/organization/TheRealCordobAle_80x80.jpg" width="80" height="80" alt="The Real CordobALE">
                        </a>
                    </li>
                </ul>
            </section>

            <section class="footer-group">
                <h3>Colabora</h3>
                <ul class="logo-grid">
                    <li>
                        <a href="http://www.cerveceros-caseros.com/" target="_blank" rel="noopener" title="Asociación de Cerveceros Caseros de España">
                            <img loading="lazy" src="assets/img/footer/colaboration/ACCE_80x80.jpg" width="80" height="80" alt="Asociación de Cerveceros Caseros de España">
                        </a>
                    </li>
                    <li>
                        <a href="http://casadelosazulejos.com/" target="_blank" rel="noopener" title="Casa de los Azulejos">
                            <img loading="lazy" src="assets/img/sponsors/HotelCasaDeLosAzulejos.png" width="80" height="80" alt="Casa de los Azulejos">
                        </a>
                    </li>
                </ul>
            </section>

            <section class="footer-group">
                <h3>Patrocinadores</h3>
                <ul class="logo-grid">
                    <li>
                        <a href="https://installbeer.com/" target="_blank" rel="noopener" title="Install Beer">
                            <img loading="lazy" src="assets/img/sponsors/InstallBeer.png" width="80" height="80" alt="Install Beer">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.latiendadelcervecero.com/" target="_blank" rel="noopener" title="La Tienda del Cervecero">
                            <img loading="lazy" src="assets/img/sponsors/LaTiendaDelCervecero.png" width="80" height="80" alt="La Tienda del Cervecero">
                        </a>
                    </li>
                    <li>
                        <a href="https://molinaforbrewers.com/es/" target="_blank" rel="noopener" title="Ricardo Molina">
                            <img loading="lazy" src="assets/img/sponsors/RicardoMolina_Version2019.png" width="80" height="80" alt="Ricardo Molina">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.saliega.com/" target="_blank" rel="noopener" title="Saliega">
                            <img loading="lazy" src="assets/img/sponsors/Saliega.jpeg" width="80" height="80" alt="Saliega">
                        </a>
                    </li>
                    <li>
                        <a href="https://tierradevinos.net/" target="_blank" rel="noopener" title="Tierra de Vinos">
                            <img loading="lazy" src="assets/img/sponsors/TierraDeVinos1.png" width="80" height="80" alt="Tierra de Vinos">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.transformando.coop/" target="_blank" rel="noopener" title="Bandolera">
                            <img loading="lazy" src="assets/img/sponsors/Bandolera.jpg" width="80" height="80" alt="Bandolera">
                        </a>
                    </li>
                </ul>
            </section>
        </div>

        <div class="footer-bottom">
            <span class="copyright">
                © {{currentDate | date: 'yyyy'}}, made with <i class="fa fa-heart heart" aria-hidden="true"></i>
            </span>
        </div>
    </div>
</footer>
