.page-header {
  background-color: #b2afab;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* Center vertically */
  align-items: center;
  /*Center horizontaly */
  justify-content: center;

  /*Center horizontaly ie */
  -ms-flex-pack: center;

  .filter::after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &.page-header-small {
    min-height: 65vh !important;
    max-height: 700px;
  }
  &.page-header-xs {
    min-height: 20vh !important;
  }

  &.section-dark {
    .content-center,
    .category-absolute {
      z-index: 1;
    }
  }
}
.page-header .motto {
  text-align: left;
  z-index: 3;
  color: #fff;
  position: relative;
}

#register-navbar a {
  color: #fff;
}

.profile-content {
  position: relative;
}

.title-brand {
  max-width: 850px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: #ffffff;
  display: block;

  .type {
    position: absolute;
    font-size: 20px;
    background: #132026;
    padding: 6px 10px;
    border-radius: 4px;
    top: 0;
    font-weight: 600;
    margin-top: 10px;
    right: -15px;
  }
}

.presentation-title {
  font-size: 5em;
  font-weight: 700;
  margin: 0;
  color: #ffffff;
  // background: #fbf8ec;
  background: -moz-linear-gradient(to bottom, #ffffff 35%, #4e6773 100%);
  background: -webkit-linear-gradient(to bottom, #ffffff 35%, #4e6773 100%);
  background: -ms-linear-gradient(to bottom, #ffffff 35%, #4e6773 100%);
  background: -o-linear-gradient(to bottom, #ffffff 35%, #4e6773 100%);
  background: linear-gradient(to bottom, #ffffff 35%, #4e6773 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.presentation-subtitle {
  font-size: 1.7em;
  color: #ffffff;
}

.page-header {
  .content-center {
    //margin-top: 85px;
  }
}
.ie-background {
  .page-header {
    .content-center {
      top: 50%;
      left: 50%;
      position: absolute;
      -ms-transform: translate(-50%, -75%);
      .title-brand {
        .presentation-title {
          background: none;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .presentation-title {
    font-size: 2em;
  }
}
